@import "./utils/styles/variables";

.app {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 65px 100% 65px;
  grid-template-columns: auto;
  min-height: 100vh;
}

// Header, Main, Content grid settings
.header-grid {
  display: grid;
  grid-area: header;
}

.main-grid {
  display: grid;
  grid-area: main;
}

.footer-grid {
  display: grid;
  grid-area: footer;
}

// Responsive Grid settings
@media screen and (max-width: 600px) {
  .app {
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 65px 100% 65px;
  }
}

// Scale size
.grow {
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scaleX(1.4) scaleY(1.2);
  }
}

// Card settings
.card {
  display: inline-flex;
  position: relative;
  outline: 0;
  width: 150px;
  min-height: 190px;
  max-height: 250px;
  transition: all 0.3s ease-in-out;
  margin: 25px 10px;
  z-index: 4;

  &:hover {
    @extend .grow;
    z-index: 5;

    .card-details {
      color: $base-white;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.12) 5px, rgba(0, 0, 0, 0.52) 24px, rgba(0, 0, 0, 0.79) 40px, rgb(0, 0, 0) 56px, rgb(0, 0, 0) 100%);
      display: flex;
      flex-direction: column;
      transform: scale(1);
      transition: all 0.3s ease-in-out;
      bottom: 0;
      opacity: 1;
      padding: 20px 8px 7px;
      position: absolute;
      width: 100%;
      border-radius: 5px;

    }

    .card-image-container {
      .img-loaded {
        border-radius: 5px;
      }
    }
  }

  .card-image-container {

    .img-loaded {
      opacity: 1;
      height: 220px;
      max-height: 220px;
      width: 100%;
      border-radius: 5px;
    }
  }

  .card-details {
    opacity: 0;
  }
}


// Circle buttons
.btn-circle {
  position: absolute;
  background: darken(rgb(81, 185, 157), 20%);
  color: $base-white;
  border-radius: 50%;
  padding: 10px;
  outline: 0;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background: darken(rgb(81, 185, 157), 15%);
    box-shadow: 0 2px 8px #0F151C;
  }
}


// tooltip
.tooltip {
  display: inline;
  position: relative;

  &:hover {
    color: $base-white;
    text-decoration: none;
  }

  &:hover:after {
    background: #111;
    background: rgba(0, 0, 0, .5);
    border-radius: .5em;
    bottom: 1.35em;
    color: $base-white;
    content: attr(title);
    display: block;
    left: 1em;
    padding: .3em 1em;
    margin: 1.3em -2.4em;
    position: absolute;
    text-shadow: 0 1px 0 #000;
    white-space: nowrap;
    z-index: 98;
  }

  &:hover:before {
    border: solid;
    border-color: rgba(0, 0, 0, .8) transparent;
    border-width: .4em .4em 0 .4em;
    bottom: 2.4em;
    content: "";
    display: block;
    left: 1.2em;
    position: absolute;
    z-index: 99;
  }
}


